body {
    background-color: #077AFF !important;

}

.container {
    min-height: 100vh;
    background-color: #077AFF !important;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.quiz-card {
    width: 30rem;
}

.quistion-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-answer:hover {
    cursor: pointer;
    background-color: #aabacc;

}


.bg-success {
    background-color: green !important;
}

.bg-danger {
    background-color: red !important;
}

.width-100 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tex-center {
    text-align: center;
}